<br/><br/>
<div id="main">
  <a href="/">Back to Main</a>
</div> 
</div> <!-- End of page content (class="content" from bootstrap) -->
<br/>

<footer>
    
    <a href="https://www.space.com/16080-solar-system-planets.html"><i>planetary information source</i></a>
    <br/><br/>
    CST 336 Lab 4 - Node.js 2019 &copy; Austin Ah Loo
    <br/><br/>
    <img src="images/logo1-inv.jpg" alt="csumb logo" width="75" height="71">
</footer>


</body>
</html>