<div id = "nav_menu">
  
  <br/>
  
  <ul>
  
  <li><a href="/sun.html">Sun</a></li>  
  <li><a href="/mercury.html">Mercury</a></li>
  <li><a href="/venus.html">Venus</a></li>
  <li><a href="/earth.html">Earth</a></li>
  <li><a href="/mars.html">Mars</a></li>
  <li><a href="/jupiter.html">Jupiter</a></li>
  <li><a href="/saturn.html">Saturn</a></li>
  <li><a href="/uranus.html">Uranus</a></li>
  <li><a href="/neptune.html">Neptune</a></li>
  <li><a href="/p9.html">Planet 9</a></li> 
  
  </ul>
  
</div>