<% include partials/header.ejs %>

    
    <img src="/images/neptune.webp" class="img-responsive" alt="Neptune"/>
    <h1>Hi, I'm the lesser known giant: Neptune!</h1>
    
    <p>
        The eighth planet from the sun, Neptune is about the size of Uranus and in the same gas
        giant category as it, Jupiter and Saturn, and is 
        known for supersonic strong winds. Neptune is far out and cold. The planet 
        is more than 30 times as far from the sun as Earth. Neptune was the first planet 
        predicted to exist by using math, before it was visually detected. 
    </p><br/>
    <h5>Click on a Planet below to know more about it:</h5>

<% include partials/nav.ejs %>
<% include partials/footer.ejs %>