<% include partials/header.ejs %>

    
    <img src="/images/p9.jpg" class="img-responsive" alt="Planet 9"/>
    <h1>Hi, astronomer's think I'm the new and exciting Planet 9!</h1>
    
    <p>
        In 2016, researchers proposed the possible existence of a ninth planet, for 
        now dubbed "Planet Nine" or Planet X. The planet is estimated to be about 10 
        times the mass of Earth and to orbit the sun between 300 and 1,000 times 
        farther than the orbit of the Earth. Since the planet has not been confirmed with
        physical evidence yet, scientists inferred its existence by its gravitational 
        effects on other objects in the Kuiper Belt, a region at the fringe of the solar 
        system that is home to icy rocks left over from the birth of the solar system. 
    </p><br/>
    <h5>Click on a Planet below to know more about it:</h5>

<% include partials/nav.ejs %>
<% include partials/footer.ejs %>