<% include partials/header.ejs %>

    
    <img src="/images/uranus.jpg" class="img-responsive" alt="Uranus"/>
    <h1>Hi, I'm giant that is the butt of all the jokes: Uranus!</h1>
    
    <p>
        The seventh planet from the sun, Uranus is an oddball. It has clouds made 
        of hydrogen sulfide, the same chemical that makes rotten eggs smell so foul. 
        It rotates from east to west like Venus. But unlike Venus or any other planet, 
        its equator is nearly at right angles to its orbit — it basically orbits on its side. 
        Astronomers believe an object twice the size of Earth collided with Uranus roughly 
        4 billion years ago, causing Uranus to tilt. That tilt causes extreme seasons that 
        last 20-plus years, and the sun beats down on one pole or the other for 84 Earth-years at a time. 
    </p><br/>
    <h5>Click on a Planet below to know more about it:</h5>

<% include partials/nav.ejs %>
<% include partials/footer.ejs %>