<% include partials/header.ejs %>

    
    <img src="/images/venus.png" class="img-responsive" alt="Venus"/>
    <h1>Hi, I'm the planet you don't want to mess with: Venus!</h1>
    
    <p>
        The second planet from the sun, Venus is Earth's twin in size. Radar images
        beneath its atmosphere reveal that its surface has various mountains and volcanoes. 
        ut beyond that, the two planets couldn't be more different. Because of its thick, 
        toxic atmosphere that's made of sulfuric acid clouds, Venus is an extreme example 
        of the greenhouse effect. It's scorching-hot, even hotter than Mercury. The average 
        temperature on Venus' surface is 900 F (465 C). At 92 bar, the pressure at the surface 
        would crush and kill you. And oddly, Venus spins slowly from east to west, the opposite 
        direction of most of the other planets.
    </p><br/>
    
    <h5>Click on a Planet below to know more about it:</h5>

<% include partials/nav.ejs %>
<% include partials/footer.ejs %>