body {
    background-color: black;
    color: #63bff7;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.contents {
    flex: auto;
}

h1 {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 25px;
}

h5 {
  text-align: center;
  font-weight: bold;
  color: yellow;
}

p {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #63bff7;
}

li {
  display: inline;
}

li a {
  color: #000000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: yellow;
  color: black;
}

a {
    color: yellow;
}

footer {
    font-size: 12px;
    color: #63bff7;
    text-align: center;
}